body {
  background-color: rgb(41, 41, 41);
}
.App {
  text-align: center;
}

.loader {
  position: relative;
  width: 70px;
  margin: 0 auto;
  top: 38vh;
}

.nav {
  position: "absolute";
  top: 0;
  left: 0;
  padding: "10px";
}

.mapboxgl-popup {
  z-index: 99 !important;
}

.popupContent {
  color: rgb(43, 43, 43);
  background-color: #5998ff;
  border-radius: 0px 0px 0px 5px;
  margin-right: 10vw;
}
.popupText {
  min-width: 10vw;
}
